[project]
name = "definable-ai"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "docstring-parser>=0.17.0",
    "httpx>=0.28.1",
    "mypy>=1.19.1",
    "openai>=2.15.0",
    "packaging>=26.0",
    "pydantic>=2.12.5",
    "rich>=14.2.0",
    "ruff>=0.15.0",
    "tiktoken>=0.12.0",
    "voyageai>=0.3.7",
]

[tool.ruff]
# Extend the ruff.toml file in the same directory
extend = "ruff.toml"
