[project]
name = "definable-ai"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "anthropic>=0.51.0",
    "openai>=1.80.0",
    "pydantic>=2.11.4",
]
